<center>
        <div>
            <img src="https://i.ibb.co/TKRfdhS/logoWB.png" class="m-auto font-sans">
        </div>
        <div style="background-color: #C7DCF2;width: 100%;padding: 10px;font-size: 10px;margin-bottom: 25px;">
            <h1>Your Account Pro WIRED BEAUTY WELCOME</h1>
        </div>
        <h1 style="font-size: 15px;">Hello {{ username }},</h1>
        <p>We confirm that your customer area has been created !</p>
        <p>You will find your identifiers below to keep very preciously:</p>
        <p>Login: {{ mail }}</p>
        <p>Password : {{ password }} </p>

    

    <p>
        Please note, you must confirm your email address to freely access your Dashboard 🚨</p>

<p>See you soon on your reports! 👋 </p>
    </p>
        <a href="{{ signedUrl }}">Confirm my Email</a>.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
    
    <p>
        Cheers!
    </p>
    </center>

