{% extends 'base.html.twig' %}

{% block title %}Report index{% endblock %}

{% block body %}

<div class="flex flex-row">

        {{ include('admin/components/navbarUser.html.twig') }}

        FirstName  {{ user.firstname }}
LastName  {{ user.username }}
eMail {{ user.email }}
Company {{ user.company }}

</div>



{% endblock  %}